@import './src/style/tem';
.body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 1;
   
}

.mainlayers{
    position: relative;
    width: 1000px;
   flex-wrap: wrap;
   flex-direction: column;
   flex-grow: 1;
   background-color: var(--bg-color);
   
}

.settingtext{
    color: var(--text-color);
    font-family: 'Kameron', serif;
    
}
.friendsearch{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.search{
    color: var( --friends-serach-color);
    font-family: 'Kameron', serif;
    width: 80vh;
    height: 40px;
    border-radius: 20px;
    background: var(--friends-search-bg-color);
    border: none;
  outline: none;
  padding-left: 20px;
  font-size: 17px;
}

.friendslist {
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto; 
    margin-top: 40px;
    gap: 30px;
  }
  .mainbuttons{
    display: flex;
  }
  .buttons{
    color: var(--text-color);
    height: 35px;
    width: 150px;
    background: none;
    border-radius: 20px;
    border: 2px solid var(--text-color);
    font-size: 15px;
    margin-left: 70px;
    cursor: pointer;
    
  }
  
  .friends {
    padding: 20px;
    width: 70vh;
    color: var(--text-color);
  }
  .friendsfoto {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #ccc; 
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
  }
  .Nickname {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .friendsmeesage {
    color: #ffffff;
    font-size: 16px;
    opacity: 0.9;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .emptyText{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Kameron', serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  