@import './src/style/tem';
.body{
    min-height: 100vh; 
    width: 250px;
    color: var(--text-color);
    
    position: fixed; 
  background-color: transparent;
  z-index: 1;
  
}
.mainlink{
    text-decoration: none;
    color: var(--text-color);
    z-index: 1;
}

.links{
    display: flex;
    flex-direction: column; /* Розташування елементів у стовпець */
    gap: 35px;
    width: 40px;
    margin-top: 150px;
    margin-left: 30px;
    margin-bottom: 140px;
    z-index: 1;
}


@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
.name{
    display: flex;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 20px;
    width: 135px;
    font-family: 'Merienda' ;
    z-index: 1;
}

.text{
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 20px;
    z-index: 1;
    cursor: pointer;
}
.button{
   border: none; 
   outline: none;
   cursor: pointer;
   background: none;
   z-index: 1;
}



.link{
    text-decoration: none;
    color: var(--text-color);
display: flex;
gap: 5px;
align-items: center;
}
.activeLink {
    text-decoration: underline; /* додаємо підкреслення, коли лінк активний */
    text-underline-offset: 10px;
  }
.avatar{
    background-color: var(--bg-color);//Сюди буде завантажуватись аватар після встановлення
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-left: 25px;
    cursor: pointer;
    
    background-size: cover; /* Масштабування зображення, щоб воно покривало весь блок */
    background-position: center; /* Відображення центру зображення */
    z-index: 1;
    
}

.avatarWrapper {
    position: relative;
    display: inline-block;
  }
  

  .dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    z-index: 10;
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        padding: 10px 20px;
        color: white;
        cursor: pointer;
        transition: background 0.2s;
  
        &:hover {
          background-color: #333;
        }
      }
    }
  }

  .rsidebar{
    position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 20px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  }
  .rinput{
  
  border: none;
  outline: none;
  border: 2px solid var(--border-color);
  border-radius: 40px;
  font-size: 16px;
  color:  var(--rinput-color);
  padding-left: 15px;
  padding-right: 40px;
  }
  .usersearch {
    margin-top: 40px;
    display: flex;             /* включає флекс-контейнер */
    flex-direction: column;    /* елементи стають у стовпчик */
    gap: 15px;                 /* відстань між ними */
    overflow-y: auto;          /* дозволяє прокручувати, якщо багато результатів */
    max-height: 80vh;          /* обмеження висоти (за бажанням) */
  }
  
  .usersearch a {
    background-color:var(--serach-color);  /* трохи прозорий фон */
    padding: 15px;
    border-radius: 8px;
    color: var(--text-color);
    text-decoration: none;
    font-family: 'Kameron', serif;
    font-size: 15px;
  }