/*
.Body {
  background-image: url('../Login/back32.jpeg');
  display: flex; /* включаємо flexbox 
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  flex-direction: column;
}

.Wrap{
  width: 420px;
  height: 400px;
  background-color: rgb(22, 65, 114, 0.2);
  backdrop-filter: blur(15px);
  color: aliceblue;
  margin-bottom: 330px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 0 10px  rgba(0, 0, 0, 0.2);
  
}


.box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  
}

.input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #166ac4;
  border-radius: 40px;
  font-size: 16px;
  color:  #ffffff;
  padding-left: 15px;
  box-sizing: border-box;
  padding-right: 40px;
}

.input::placeholder {
  color: #ffffff;
}


.h1{
font-size: 36px;
text-align: center;

}


.label{
  color: #ffffff;
  margin-right: 10px;
}

.a{
  color: #0c4e85;
  margin-right: 10px;
  text-decoration: none;
  font-weight: 700;
}
.a:hover{
  text-decoration: underline;
}

.button{
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  background-color: #166ac4;
  border-radius: 40px;
  box-shadow: 0 0 10px #ffffff(0,0,0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  
}

.registr{
  border: 2px solid #166ac4;
  background-color: rgb(22, 65, 114, 0.2);
  backdrop-filter: blur(15px);
  color: aliceblue;
  margin-bottom: 300px;
  width: 420px;
  font-size: 17px;
  border-radius: 10px;
  padding: 0px 30px;
  
}

.rega{
  color: #0c4e85;
  text-decoration: none;
  font-weight: 700;
}
.rega:hover{
  text-decoration: underline;
}
  */