@import './src/style/tem';
.storis {
  width: 1000px;
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.post {
  width: 800px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.postItem {
  width: 100%;
  height: 550px;
  background-color: var(--bg-color);
  padding: 15px;
  margin-bottom: 40px;
  border-radius: 8px;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 50px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%; 
  object-fit: cover; 
  object-position: center; 
}

.nameTime {
  display: flex;
  align-items: center; 
}

.userName {
  color: var(--username-color);
  font-weight: bold;
}

.postTime {
  font-size: 14px;
  color: var(--posttime-color);
  gap: 15px;
  margin-left: 100px;
  display: inline-flex;
  align-items: center; 
}

.postImage {
  width: 100%;
  height: 100%;
  object-fit: cover;     
}

.postContent {
  width: 800px;           
  height: 400px;          
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;         
  border-radius: 10px;    
}
.postDescription{
  color: var(--postdiscr-like-color);
  font-family: 'Kameron', serif;
  font-size: 15px; 
  margin-top: 15px;
 margin-left: 20px;
}

.likeCount{
  color: var(--postdiscr-like-color);
  font-family: 'Kameron', serif;
  font-size: 15px; 
}
.like{
  display: inline-flex;
  align-items: center; 
  margin-right: 5px; 
}
.likeitem{
  position: relative;
  display: flex; 
  align-items: center; 
  gap: 10px; 
  margin-top: 10px;
}

.likebut svg {
  width: 24px; 
  height: 24px; 
}

.savebut{
  margin-left: 655px;
  border: none; 
  outline: none;
  cursor: pointer;
  background: none;
  z-index: 1;
  display: inline-flex;
}
.likebut, .sendbut, .commentbut{
    border: none; 
    outline: none;
    cursor: pointer;
    background: none;
    z-index: 1;
    display: inline-flex;
    align-items: center; 
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--modalover-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: var(--modalcontent-bg-color);
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalImage {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modalActionslike {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  color: var(--modallike-color);
  cursor: pointer;
  font-size: 16px;
}

.fotodescription {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 15px;
}

.commentsSection {
  width: 100%;
}

.commentsList {
  max-height: 150px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.commentItem {
  margin-bottom: 5px;
  font-size: 16px;
  color: var(--modalcomment-color);
}

.commentsName {
  color: var(--modalcomname-color);
  font-weight: bold;
}

.commentInput {
  display: flex;
  gap: 10px;
}

.commentInput ::placeholder {
  color: var(--modalcomplays-color);
}

.commentInput input {
  flex: 1;
  padding: 6px;
  border-radius: 5px;
  background: transparent;
  border: 2px solid var(--modalcominput-border-volor);
  color: var(--text-color);
  font-size: 16px;
  outline: none;
}

.commentInput button {
  padding: 6px 12px;
  border: none;
  background-color: var(--modalcominput-border-volor);
  color: var(--modalcom-input-color);
  border-radius: 5px;
  cursor: pointer;
}
