.body {
    background-color: var(--bg-color, #ffffff); // Використовуємо змінну для кольору
    height: 100vh;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .colorіbuttons {
    display: flex;
    gap: 10px;
  }
  
  .colorbutton {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  