@import './src/style/tem';
.body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 1;
   
}

 
.mainlayers{
    position: relative;
    width: 1000px;
   flex-wrap: wrap;
   flex-direction: column;
   flex-grow: 1;
   
}

.upimage{
    background-color: rgb(139, 139, 139);
    width: 1000px;
    height:30vh;
    flex-direction: column;
    position: relative;
    background-image: var(--bg-image);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
 
}

.prof{
    background-color: var(--bg-color);
    min-height: 500px;
    
    flex-direction: column;
    padding: 20px;
    gap: 10px;  
    position: relative;
  

    overflow: hidden; 
}

.maininfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20vh;
  left: 15%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
}
.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  font-family: 'Kameron', serif;
  color: var(--inform-color);
}
.avatarImage {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}
.descriptionTitle {
  max-width: 250px;
  margin-top: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 19px;
  color: var(--inform-color);
  font-family: 'Kameron', serif;
  text-align: center;
  line-height: 20px;
  padding-right: 10px;
}
.nickName {
  margin-top: 5px;
  font-size: 16px;
  color:var(--inform-color);
  font-family: 'Kameron', serif;
}
.redagbutton{
    position: absolute;
    right: 20px;
    top: 32vh;
    z-index: 2;
    display: flex; 
    justify-content:center; 
    gap: 20px;
    align-items: center;
   
}

@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@600&display=swap');

.infor {
  margin-top: 10px;
  font-family: 'Kameron', serif;
  color: var(--inform-color);
  text-align: center;
  font-size: 16px;
  max-width: 200px;
  word-wrap: break-word;
}


.buttonredagpros,
.buttonlook {
   border: 2px solid  var(--button-border-color);
   width: 160px;
    padding: 10px 10px;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    color: var(--button-text-color);
   
}

.public{
    margin-top: 170px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.likeinform {
    color: var(--inform-color);
    display: flex;
    position: absolute;
    z-index: 2;
    width: max-content;
    max-width: 60%; 
    align-items: center;
    text-align: center;
    justify-content: flex-end; 
    right: 30px;
    top: 42vh;
    font-size: 22px;
    gap: 10px;
    font-family: 'Kameron', serif;
}

.savepublbut{
    color: var(--inform-color);
    display: flex;
    position: absolute;
    z-index: 2;
    width: 97vh;
    max-width: 100%;
    gap: 100px;
    font-size: 25px;
    font-family: 'Kameron', serif;
    border-bottom: 2px solid var(--button-border-color);
}



.foto {
    padding-top: 50px;
    
    width: 100%; 
    max-width: 100%; 
    justify-content: center; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
   
    min-height: 300px;
    align-items: center;
 
  }

  .foto p {
    grid-column: span 4;
    text-align: center;
    font-size: 30px;
    color: var(-inform-color);
    margin-top: 20px;
  }
  
  .image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  transition: transform 0.3s;
    margin-top: 5px;
    cursor: pointer;
    
  }
  
  .image:hover {
    transform: scale(1.05);
  }
  


.publication, .saves {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    color: var(--inform-color);
   
  }
  
  .activeTab {
    border-bottom: 2px solid var(--button-border-color); 
    font-weight: bold;
  }
  

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modalover-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: var(--modalcontent-bg-color);
    padding: 20px;
    border-radius: 12px;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modalImage {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
 
  }
  
  .modalActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
  }
  .modalActionslike {
    display: flex;
    align-items: center;
    gap: 10px; 
    background: none;
    border: none;
    color: var(--modallike-color);
    cursor: pointer;
    font-size: 16px;
  }
  .modalActionsdel{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--modallike-color);
    cursor: pointer;
    margin-left: -15px;
  }
  
  .commentsSection {
    width: 100%;
  }
  .commentsName{
    color: var(--modalcomname-color);
  }
  
  .commentsList {
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  
  .commentItem {
    margin-bottom: 5px;
    font-size: 16px;
    color: var(--modalcomname-color);
  }
  
  .commentInput {
    display: flex;
    gap: 10px;
  }
  .commentInput ::placeholder{
    color: #ffffffb9;
  }
  
  .commentInput input {
    flex: 1;
    padding: 6px;
    border-radius: 5px;
    background: transparent;
    border: none;
  outline: none;
    border: 2px solid var(--modalcominput-border-volor);
    font-size: 16px;
  color:  var(--text-color);
  }
  
  .commentInput button {
    padding: 6px 12px;
    border: none;
    background-color: var(--modalcominput-border-volor);
    color: var(--modalcom-input-color);
    border-radius: 5px;
    cursor: pointer;
  }
  .fotodescription{
    color: var(--inform-color);
    font-size: 20px;
    
  }