.body{
    background-image: url('../Login/back32.jpeg');
    background-attachment: fixed; /* Фіксує фон */
    background-size: cover; /* Покриває весь екран */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-wrap: wrap;
    flex-direction: column;
   
}

 
.mainlayers{
    position: relative;
    width: 1000px;
   flex-wrap: wrap;
   flex-direction: column;
  
   
}

.upimage{
    background-color: rgb(139, 139, 139);
    width: 1000px;
    height:30vh;
    flex-direction: column;
    position: relative;
    background-image: url('../Login/back32.jpeg');
    background-size: cover; /* Масштабування зображення, щоб воно покривало весь блок */
    background-position: center; /* Відображення центру зображення */
    background-repeat: no-repeat; /* Заборона повторення фонового зображення */
 
}

.prof{
    background-color: rgba(68, 68, 68, 0.192);
    min-height: 70vh; 
    flex-direction: column;
    padding: 20px;
    gap: 10px;  
    position: relative;
  
}

.maininfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 27vh;
    left: 17vh;

}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 10px;
    margin-top: 30vh;
    
}
.avatar{
    background-image: url('../Login/Rectangle 15.png');
    width: 203px;
    height: 203px;
    border-radius: 100%;
    position: absolute;
    z-index: 11;
  
}

.redagbutton{
    position: absolute;
    left: 55%;
    top: 32vh;
    z-index: 10;
    display: flex; /* Робимо контейнер флексом */
    justify-content:center; /* Розподіляємо кнопки по краях */
    gap: 40px;
    align-items: center; /* Вирівнюємо по вертикалі */
   
}

@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@600&display=swap');

.name, .infor{
    font-family: 'Kameron', serif;
    color: rgb(255, 255, 255);
    z-index: 10;
    width: max-content;
    text-align: center;
    font-size: 20px;
}



.buttonredagpros,
.buttonlook {
   border: 2px solid  rgb(255, 255, 255);
   width: 160px;
    padding: 10px 10px;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    color: rgb(255, 255, 255);
   
}

.public{
    background-color: aquamarine;
    margin-top: 200px;
}