@import './src/style/tem';
.body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 1;
   
}

.mainlayers{
    position: relative;
    width: 1000px;
   flex-wrap: wrap;
   flex-direction: column;
   flex-grow: 1;
   background-color:var(--bg-color);
}

.settingtext{
    color: var(--text-color);
    font-family: 'Kameron', serif;
}
.buttons{
    display: flex;
    margin-left: 100px;
    gap: 50px;
    border: none;

}
.button1, .button2,.button3,.button4{
    display: flex;
    width: 100px;
    height: 30px;
     justify-content: center;
    align-items: center;
    border:2px solid black;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.button1{
    background-color: white;
    color: black;
}
.button2{
    background-color: black;
    color: white;
}
.button3{
    background-color: #0074d9;
    color: white;
}
.button4{
    background-color: #ff0000;
    color: white;
}

.h1, .h2{
color: var(--text-color);
margin-left: 100px;
margin-top: 60px;
}